{# error.html.twig #}

{%  extends 'layout.html.twig' %}

{% block title %}
Error!
{% endblock %}

{% block content %}
<div class="row" id="errorPanel">
	<div class="col-xs-5">
		<img src="{{ asset('/images/404-ghost.png') }}" alt="Error ghost"
			class="img-responsive pull-right" />
	</div>
	<div class="col-xs-6">
		<h1>
			Whoops...<br />
			<small>{{ message }}</small>
		</h1>
	</div>
</div>
{% endblock %}